/*mixin variables*/
$sky-blue: #DAF0FF;
$page_background_color: #F4F4F4;

/* universal */
body {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-color: $page_background_color;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 150px;
  padding-right: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#content {
  height: 100%;
  position: relative;
}

  /* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.custom-width {
  width: 65%!important;
}

.bg-custom {
  background-color: $sky-blue;
}

  /* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: orange;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

  /* footer */
footer {
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid silver;
  color: gray;
  margin-left: 150px;
  margin-right: 150px;
}

footer a {
  color: gray;
}

footer a:hover {
  color: black;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid silver;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: text-danger;
  }
}

/* categories */
.categories {
  font-size: 2em;
}

/*orders*/
#new_order {
  width: 70%;
  margin-left: 3%;
}

/* ratings */
.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.star-rating {
  line-height: 50px;
  font-size: 1.5em;
}

.star-rating .fa-star{
  font-size: 1.5em;
}

/* product rating overview */
hr.rating-horizontal{
  border: 3px solid silver;
}

hr.overview-horizontal{
 border: 2px solid gray;
}

.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 0%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}

@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}
