/* ratings */
.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.star-rating {
  line-height: 50px;
  font-size: 1.5em;
}

.star-rating .fa-star{
  font-size: 1.5em;
}

/* product rating overview */
hr.rating-horizontal{
  border: 3px solid silver;
}

hr.overview-horizontal{
 border: 2px solid gray;
}

.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 0%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}

@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}
