<div class="col-md-5">
  <div class="star-rating">
    <span class="fas fa-minus-circle text-danger" data-rating="0" title="no rating"></span>
    <span class="far fa-star" data-rating="1" title="bad"></span>
    <span class="far fa-star" data-rating="2" title="poor"></span>
    <span class="far fa-star" data-rating="3" title="regular"></span>
    <span class="far fa-star" data-rating="4" title="good"></span>
    <span class="far fa-star" data-rating="5" title="gorgeous"></span>
      <%= hidden_field_tag :rating_value, show_current_rating, class: "rating-value" %>
  </div>
</div>
