<footer class="page-footer">
    <div class="container">
        <b><%= t ".address" %></b>
        <%= t ".address_text" %>
    </div>
</footer>
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>"
  I18n.locale = "<%= I18n.locale || I18n.default_locale %>"
</script>
